#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bear {
    position: absolute;
    z-index: -1;

    top: 0;
    right: 0;
    height: 100vh;
    padding: 0;

    object-fit: cover;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;

    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 400;
}

.introName {
    color: white;
}

.introParagraph {
    font-size: medium;
    font-weight: 300;
    letter-spacing: .5px;

}

.button {
    background: white;
    margin: 1rem 0;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
}

@media screen and (max-width: 840px) {
    .introName {
        color: rgb(19,86,127);
    }

    .bear {
        right: 0;
    }

    .introContent {
        font-size: 10vw;
    }

    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 685px) {

    .bear {
        right: 0vw;
    }
}